body{
    margin: 0%;
}

nav{
    background-color: seagreen;
    height: 50px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

a{
    color: white;
}
img{
    cursor:pointer;
    display: none;
    width:32px;
    height: 32px;

}

@media(max-width:760px){
    nav a{
        display: none;
    }
    nav img{
        display: block;
    }
}