

nav{
    height: 60px;
    background-color: blueviolet;
}

@media (max-width:800px){
    nav{
        background-color: red;
        height: 120px;
    }

}

@media(max-width:425px){
    nav{
        background-color: magenta;

    }
}

@media(max-width: 600px){
    img{
        display: none;
    }
}



@media(max-width: 612px){
    img{
        height: 235px;
    }
    
}
@media(max-width:300px){
    h1{
        font-size:12px;
        font-style: italic;
    }
}

@media(max-width: 350px){
    section{
        background-color: blue;
        font-family: Arial, Helvetica, sans-serif;
    }
}